.td-button {
    font-family: 'bordaregular';
    font-size: 2em;
    color: white;
    /* 
    backdrop-filter: blur(8px); 
    This piece of shit single handendly fucked over 2 hours of my life life
    it breaks the 3d transform **entirelly**, breaks the perspective text shadow
    And on top of this, does not even work in firefox
    */
    padding: 8px;
    transform: none;
    transition-delay: 100ms;
    transition: background-color 0.20s, transform 0.20s;
    --td-border-background: rgba(255, 255, 255, 0.1);
}

.td-button:hover, .td-button:active, .td-button:focus {
    --td-border-background: rgba(255, 255, 255, 0.2);
    transform: translateZ(16px);
}

.td-button:active, .td-button:focus {
    --td-border-background: var(--td-orange-menu-gradient);
}

.td-button:active .td-text, .td-button:focus .td-text {
    color: black;
}

.td-button:active .td-text.td-text--shadow::after {
    --text-shadow-display: none;
}

.td-button:focus {
    outline: none;
}
