.pts-logo {
    display: block;
}

.division-ui {
    --font-size: 9.94em;
    font-family: 'Montserrat', sans-serif;
    color: #ff6a1363;
    text-transform: uppercase;
    font-weight: bold;
    font-size: var(--font-size);
    outline: 1px solid red;
    display: grid;
    flex-direction: column;
    --line: 2px;
    transform: scale3d(0.9, 1, 1);
}

.division-ui::after {
    grid-row: 1;
    grid-column: 1;
    content: attr(data-text);
    color: yellow;
    clip-path: polygon(0 calc(50% + var(--line)), 100% calc(50% + var(--line)), 100% 100%, 0% 100%);
}

.division-ui::before {
    content: attr(data-text);
    color: red;
    grid-row: 1;
    grid-column: 1;
    clip-path: polygon(0 0, 100% 0, 100% calc(50% - var(--line)), 0 calc(50% - var(--line)));
}