.td-MainMenu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 1 1 auto;
  padding: 8vh;
}

.td-MainMenu--background {
  background-image: url('../../images/noUIbg.png');
}

.left-side, .right-side {
  display: flex;
  flex-direction: column;
}

.left-side {
  flex: 0 1 450px;
  padding-top: 2vh;
  padding-left: 3vw;
  transform: rotateY(9.9deg) translateZ(0px);
}

.left-side .td-button {
  margin-bottom: 8px;
}

.right-side {
  flex: 0 1 300px;
  transform: rotateY(-9deg) translateZ(0px);
  padding-top: 9vh;
  padding-right: 6vw;;
}

.nexus-logos {
  display: flex;
}

.nexus-logos img {
  height: 8.5em;
  margin: 13px auto;
  filter: grayscale(1) brightness(1.2);
  transition: filter 0.20s;
}

.player-info {
  padding: 8px 16px;
}

.years-box {
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 21px;
  margin: 0px;
  background-color: rgba(0, 0, 0, 0.45);
  --outer-border-color: rgba(255, 255, 255, 0.5);
  --inner-border-color: rgb(255, 255, 255, 0.6);
}

.yoe {
  margin-left: 16px;
}

.social {
  display: flex;
  align-content: center;
  align-items: center;
  margin-bottom: 8px;
  background-color: rgba(0, 0, 0, 0.45);
}

a.social--link {
  font-size: 1.4em;
  color: white;
  padding: 16px;
}