@property --top-line {
    inherits: false;
    initial-value: 0%;
    syntax: '<percentage>';
}

@property --bottom-line {
    inherits: false;
    initial-value: 0%;
    syntax: '<percentage>';
}

@keyframes bootLogo {
    from {
        --top-line: -50%;
        --bottom-line: 150%;
    }
}

@keyframes hideMassimo {
    from {
        max-width: 0%;
    }

    to {
        max-width: 0%;
    }
}

@keyframes bootMassimo {
    from {
        max-width: 0%;
    }

    to {
        max-width: 100%;
    }
}

.pts-logo {
    --td-orange-logo: #ff6a13;
    display: flex;
    align-items: center;
    align-content: center;
    --middle-cut-line: 0.2rem;
    /* Using values over 100% and under 0 to overflow the clip path X and Y */
    --top-line: 50%;
    --bottom-line: 50%;
    clip-path: polygon(-50% -50%, -50% var(--top-line), 50% var(--top-line), 50% var(--bottom-line), -50% var(--bottom-line), -50% 150%, 150% 150%, 150% var(--bottom-line), 50% var(--bottom-line), 50% var(--top-line), 150% var(--top-line), 150% -50%);
    animation: 1250ms ease-out 0ms 1 normal none bootLogo;
}

.massimos {
    display: block;
    font-family: 'Ghost Clan';
    color: white;
    font-size: 2.5em;
    transform: translate3d(0px, 0.35em, 0);
    max-width: 100%;
    overflow: hidden;
    animation-name: hideMassimo, bootMassimo;
    animation-duration: 1250ms, 1500ms;
    animation-delay: 0ms, 1250ms;
    animation-timing-function: ease-out, ease-out;
}

.logo-division {
    --font-size: 8.94em;
    font-family: 'Montserrat', sans-serif;
    color: #ff6a1363;
    text-transform: uppercase;
    font-weight: bold;
    font-size: var(--font-size);
    /* outline: 1px solid red; */
    display: grid;
    
    transform: scale3d(1,1.1,1);
    /* Okay, so have the font match the TD2 font I had to scale it up by 10% */
    /* This also had the useful effect of allowing the logo-ui to overflow on top of the text, just like the logo  */
}

.logo-division::after {
    grid-row: 1;
    grid-column: 1;
    content: attr(data-text);
    color: var(--td-orange-logo);
    clip-path: polygon(0 calc(50% + var(--middle-cut-line)), 100% calc(50% + var(--middle-cut-line)), 100% 100%, 0% 100%);
}

.logo-division::before {
    content: attr(data-text);
    color: var(--td-orange-logo);
    grid-row: 1;
    grid-column: 1;
    clip-path: polygon(0 0, 100% 0, 100% calc(50% - var(--middle-cut-line)), 0 calc(50% - var(--middle-cut-line)));
}

.logo-ui {
    font-family: Helvetica, sans-serif;
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-transform: uppercase;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    font-size: 8.94em;
}

.logo-ui::after {
    --h: 1.45em;
    height: var(--h);
    width: var(--h); 
    content: '';
    position: absolute;
    top: 50%;  
    left: 50%; 
    transform: translate(-50%, -50%);
    border: 0.12em solid var(--td-orange-logo);
    border-radius: 50%;
    --h1: 26%;
    --h2: 75%;
    --h3: calc(50% - var(--middle-cut-line));
    --h4: calc(50% + var(--middle-cut-line));
    --w1: 53%;
    clip-path: polygon(0 0, 0 var(--h1), var(--w1) var(--h1), var(--w1) var(--h3), 100% var(--h3), 100% var(--h4), var(--w1) var(--h4), var(--w1) var(--h2), 0 var(--h2), 0 100%, 100% 100%, 100% 0);
}