.background-container {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -20;

    /* Align all childs to center without using aboslute and transform 50 50 */
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader {
    --base-height: 80vh;
    --height: var(--base-height);
    --border-size: 1.5px;
    --anim-delay: 0s;
    /* separator */
    --after-h-offset: 1rem;
    --after-speed: 50s;
    --after-color: rgba(255, 255, 255, 0.15);
    /* separator */
    --before-h-offset: 2rem;
    --before-speed: 60s;
    --before-color: rgba(255, 255, 255, 0.15);
    /* separator */
    position: absolute;
    width: var(--height);
    height: var(--height);
    display: grid;
}

.loader::after,
.loader::before {
    content: '';
    box-sizing: border-box;
    grid-row: 1;
    grid-column: 1;
    margin: auto;
    border: var(--border-size) solid;
    border-color: transparent transparent var(--after-color) var(--after-color);
    width: calc(var(--height) - var(--after-h-offset));
    height: calc(var(--height) - var(--after-h-offset));
    border-radius: 50%;
    box-sizing: border-box;
    animation: rotationBack var(--before-speed) linear infinite;
    animation-delay: var(--anim-delay);
    transform-origin: center center;
}

.loader::before {
    width: calc(var(--height) - var(--before-h-offset));
    height: calc(var(--height) - var(--before-h-offset));
    border-color: var(--before-color) var(--before-color) transparent transparent;
    animation: rotation var(--after-speed) linear infinite;
    animation-delay: var(--anim-delay);
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotationBack {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

@keyframes rotationDots {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes bootDots {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.outer-circles-w-dots {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: bootDots 1s linear 0s 1, rotationDots 1000s linear 1.1s infinite;
}

.outer-circle-flat {
    --size: 99vh;
    width: var(--size);
    height: var(--size);
    border: 1px solid rgba(255, 255, 255, 0.10);
    border-radius: 50%;
    position: absolute;
}

.outer-circle-flat--interior-1 {
    --size: 98vh;
}

.outer-circle-flat--interior-2 {
    --size: 95vh;
}

.outer-circle-flat--interior-3 {
    --size: 94vh;
}

.outer-circle-flat--interior-4 {
    --size: 85vh;
    border: none;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='100%' ry='100%' stroke='rgba(255, 255, 255, 0.10)' stroke-width='6' stroke-dasharray='2%2c 100' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
}

.outer-circle-flat--interior-5 {
    --size: 70vh;
    border: none;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='100%' ry='100%' stroke='rgba(255, 255, 255, 0.10)' stroke-width='3' stroke-dasharray='2%2c 20' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
}

.outer-circle-flat--exterior-1 {
    --size: 129vh;
}

.outer-circle-flat--exterior-2 {
    --size: 130vh;
    border: 1px solid rgba(255, 255, 255, 0.05);
}

.dotted-circle {
    --dot-order: 0;
    --dot-size: 2px;
    height: 123vh;
    width: var(--dot-size);
    position: absolute;
    transform: rotate(calc((var(--dot-order)) * 2deg + 360deg));
    transform-origin: center;
    opacity: 0.7;
}

.dot {
    height: var(--dot-size);
    width: var(--dot-size);
    border-radius: 50%;
    background: white;
    display: block;
    margin: 8px 0px;
    opacity: 0.4;
}

.dot:nth-child(1) {
    opacity: 0.1;
}

.dot:nth-child(2) {
    opacity: 0.15;
}

.dot:nth-child(3) {
    opacity: 0.2;
}

.dot:nth-child(4) {
    opacity: 0.25;
}

.dot:nth-child(5) {
    opacity: 0.3;
}

.dot:nth-child(6) {
    opacity: 0.35;
}

.dot:last-child {
    margin: 20px 0px;
}