.background-container {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -20;

    /* Align all childs to center without using aboslute and transform 50 50 */
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader {
    --base-height: 100vh;
    --height: var(--base-height);
    --border-size: 1.5px;
    --anim-delay: 0s;
    /* separator */
    --after-h-offset: 1rem;
    --after-speed: 50s;
    --after-color: rgba(255, 255, 255, 0.15);
    /* separator */
    --before-h-offset: 2rem;
    --before-speed: 60s;
    --before-color: rgba(255, 255, 255, 0.15);
    /* separator */
    position: absolute;
    width: var(--height);
    height: var(--height);
    display: grid;
}

.loader::after,
.loader::before {
    content: '';
    box-sizing: border-box;
    grid-row: 1;
    grid-column: 1;
    margin: auto;
    border: var(--border-size) solid;
    border-color: transparent transparent var(--after-color) var(--after-color);
    width: calc(var(--height) - var(--after-h-offset));
    height: calc(var(--height) - var(--after-h-offset));
    border-radius: 50%;
    box-sizing: border-box;
    animation: rotationBack var(--before-speed) linear infinite;
    animation-delay: var(--anim-delay);
    transform-origin: center center;
}

.loader::before {
    width: calc(var(--height) - var(--before-h-offset));
    height: calc(var(--height) - var(--before-h-offset));
    border-color: var(--before-color) var(--before-color) transparent transparent;
    animation: rotation var(--after-speed) linear infinite;
    animation-delay: var(--anim-delay);
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotationBack {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

@keyframes rotationDot {
    0% {
        transform: rotate(calc((var(--dot-order)) * 2deg));
    }

    100% {
        transform: rotate(calc((var(--dot-order)) * 2deg + 360deg));
    }
}

.dotted-circle {
    --dot-order: 0deg;
    --dot-size: 2px;
    height: 123vh;
    width: var(--dot-size);
    position: absolute;
    /* transform: rotate(calc((var(--dot-order)) * 2deg)); */
    transform-origin: center;
    animation: rotationDot 1500s linear infinite;
    opacity: 0.7;
}

.dot {
    height: var(--dot-size);
    width: var(--dot-size);
    border-radius: 50%;
    background: white;
    display: block;
    margin: 8px 0px;
    opacity: 0.4;
}

.dot:nth-child(1) {
    opacity: 0.1;
}

.dot:nth-child(2) {
    opacity: 0.15;
}

.dot:nth-child(3) {
    opacity: 0.2;
}

.dot:nth-child(4) {
    opacity: 0.25;
}

.dot:nth-child(5) {
    opacity: 0.3;
}

.dot:nth-child(6) {
    opacity: 0.35;
}

.dot:last-child {
    margin: 20px 0px;
}