.td-image-wrapper {
    --outer-border-color: rgba(255, 255, 255, 0.5);
    --inner-border-color: rgba(255, 255, 255, 0.5);
    display: flex;
    width: fit-content;
}

.td-image {
    height: 3.4em;
    width: 3.4em;
}